#!/hint/sh

AMBASSADOR_OSS_VERSION=0.71.0
AMBASSADOR_PRO_VERSION=0.4.3

QOTM_VERSION=1.7
TOUR_VERSION=0.2.3

AMBASSADOR_LICENSE_KEY=YOUR_KEY_HERE

AMBASSADOR_URL={{AMBASSADOR_IP/HOSTNAME}:{AMBASSADOR_INGRESS_PORT}}
