#!/hint/sh

AMBASSADOR_PRO_VERSION=0.9.0

QOTM_VERSION=1.7
TOUR_VERSION=0.2.6

AMBASSADOR_LICENSE_KEY=YOUR_KEY_HERE

AMBASSADOR_URL=https://{{AMBASSADOR_IP/HOSTNAME}:{AMBASSADOR_INGRESS_PORT}}

# DevPortal settings
# To customize content and look&feel
# fork https://github.com/datawire/devportal-content and point to it
APRO_DEVPORTAL_CONTENT_URL="https://github.com/datawire/devportal-content"


# The following two setting need only be modified for upgrade-to-pro

# Set this to the address that Ambassador admin is internally reachable from
AMBASSADOR_ADMIN_URL="http://ambassador-admin.default.svc.cluster.local:8877"
# Set this to the address that Ambassador is internally reachable from
AMBASSADOR_INTERNAL_URL="https://ambassador.default.svc.cluster.local"

